<div id="contact">
    <div id="contacto">
        <h2>Contacto</h2>
    </div>
    <div id="barrita">
        <hr>
    </div>
    <div class="contenedor">
        <div class="container">

            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.6354808427777!2d-2.7293914223238676!3d42.41715691120689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd455c4618a12d13%3A0xcc3e3e5a2a6a6761!2sC.%20Guindalera%2C%203%2C%2026300%20N%C3%A1jera%2C%20La%20Rioja%2C%20Espa%C3%B1a!5e1!3m2!1ses!2sar!4v1635731012879!5m2!1ses!2sar"
                width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <form action="envia.php" method="post"> 
            <div class="formulario">
                <div>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre" id="exampleFormControlInput1"   placeholder="Nombre" >
                    
                </div>
                <br>
                <div>
                    <input type="email" class="form-control" name="correo" formControlName="correo" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <br>
                <div>
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" name="mensaje" formControlName="mensaje" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
            </div>
            <button type="submit" >Enviar</button>
        </form>
    </div>
</div>