<div class="invisible"></div>

<div class="contenedor">
   <div class="transparente">
      <div class="image">
         <div class="principal">
            
            <div class="text">
               <h2>
                  MAS QUE UN CAFE, UNA EXPERIENCIA!
               </h2>
            </div>
            <div class="space">
            </div>
         </div>
            <a href="#services">
               <div id="flecha"></div>
            </a>
         </div>
      </div>
   </div>

<app-services></app-services>