<div class="contenedor">
    <div class="bar" id="bar"></div>
    <!-- <div class="container"> -->
        <div id="nosotros">
            <div class="tarjeta">
                <h1>Café Pepe</h1>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore earum minima ipsam,
                        illo
                        explicabo maiores labore facilis aperiam fugiat repudiandae magni provident recusandae sit
                        officiis
                        mollitia perferendis? Autem, eos.</span><span>Ab praesentium, totam iste magnam veniam at
                        voluptas!
                        Perspiciatis possimus pariatur nihil quae, cumque fugit architecto iure. Illo tenetur
                        voluptatibus,
                        recusandae minus officia dolor, libero consequatur, voluptates quo officiis
                        dignissimos!</span><span>Asperiores minus placeat, labore cum ipsa illo maxime vel omnis ipsum
                        nesciunt repudiandae consequuntur est nemo tempora, similique, quo nulla animi maiores fuga
                        perspiciatis ipsam ab! Temporibus quae magni eveniet.</span><span>Dignissimos, culpa hic fugit
                        doloribus assumenda iste, rem nulla debitis soluta reiciendis, labore explicabo provident iusto
                        quae. Odit repudiandae tempora ipsam quis culpa eaque, fugit tempore dolores? Nam, dignissimos
                        officiis.</span><span>Quas asperiores molestiae iusto, culpa doloribus molestias fugit voluptate
                        recusandae. Porro, hic? Cumque, voluptatum excepturi pariatur cupiditate deleniti ex sit iure
                        temporibus. Quas excepturi illum laborum obcaecati quos veritatis dolor?</span></p>
            </div>
        </div>
        <div class="tarjeta">
            <div id="imagen" mouseHover>
            </div>
        </div>
    </div>
<!-- </div> -->