* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  text-align: center;
}
.contenedor {
  width: 100vw;
  height: fit-content;
  background-color: rgb(28, 217, 189);
  position: relative;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nosotros {
}

.tarjeta {
  /*  padding: 25px; */
  padding-top: 45px;
  padding-bottom: 45px;
  max-width: 47vw;
  /*  height:650px; */
  overflow: hidden;
  /*  background-color: lawngreen; */
}

#imagen {
  background-image: url(../../shared/vista-enfrente-nieve.jpg);
  margin: 0;
  position: sticky;
  background-size: contain;
  background-repeat: no-repeat;
  /* min-height: 300px;
    min-width: 300px;
    max-height: 600px;
    max-width: 600px; */
  width: 50vw;
  height: 50vw;
  background-position: center;
}

.bar {
  width: 100%;
  height: 15px;
  background-color: #777;
}

p {
  /* width: 80%; */
}

@media (max-width: 700px) {
  .tarjeta {
    min-width: 80vw;
  }

  #imagen {
    width: 100%;
  }
  .contenedor {
    justify-content: space-around;
  }
}
