<div class="contenedor">
    <div id="services">
        <h2>Servicios
        </h2>
        <div id="barrita">
            <hr>
        </div>

        <div class="imagenes">
            <div class="tarjeta">
                <div class="foto" id="foto1"></div>
                <h3>BELLA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique magni tempora molestiae enim
                    praesentium culpa iure rerum placeat! Velit voluptas nostrum officia adipisci quasi soluta labore
                    illum nobis, quia vero.
                </p>

            </div>
            
            <div class="tarjeta">
                <h3>UNICA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique magni tempora molestiae enim
                    praesentium culpa iure rerum placeat! Velit voluptas nostrum officia adipisci quasi soluta labore
                    illum nobis, quia vero.
                </p>
                <div class="foto" id="foto2"></div>
            </div>
            <div class="tarjeta">
                <div class="foto" id="foto3"></div>
                <h3>LIBRE</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sapiente exercitationem labore, nemo quos earum at voluptate laborum, nesciunt numquam et accusamus eum officiis rem maiores fugit illum ea magnam.</P>
                
            </div>
        </div>
    </div>
</div>